@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>My privacy policy without all the legal mumbo-jumbo is as follows.</p>

<ol>
    <li>We respect Privacy.</li>
    <li>We do not voluntary reveal your information to anyone (barring unforseen circumstances).</li>
</ol>
