<div class="navbar">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
        <button class="dropbtn">Utilities &sect;
            
            
            <!-- <i class="fa fa-caret-down"></i> 
            &star;&starf;&sect;&darr;&dArr;&sext;&VerticalSeparator;
            https://www.toptal.com/designers/htmlarrows/letters/
            -->
        </button>
        <div class="dropdown-content">
            <a href="#">Salt </a>
            <a href="#">AES</a>
            <a href="#">Link 3</a>
        </div>
    </div> 
    <a href="#references">References</a>
</div>